{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="container">
        <ol class="breadcrumb bcrumb-margins">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Products</li>
        </ol>
        <h2>Our Products</h2>
        <br>
        <div class="row">
            <article class="card col-xs-12 col-sm-6">
                <a class="hover-link" href="/products/visual">
                    <div class="zoom">
                        <img class="img-responsive" src="{% static 'img/categories/projector.jpg' %}" alt="Projection Systems">
                        <div class="overlay">
                            <h1>See our products</h1>
                        </div>
                    </div>
                    <h2 class="product-heading">Projection Systems</h2>
                </a>
            </article>
            <article class="card col-xs-12 col-sm-6">
                <a class="hover-link" href="/products/audio">
                    <div class="zoom">
                        <img class="img-responsive" src="{% static 'img/categories/speakers.jpg' %}" alt="Audio Technology">
                        <div class="overlay">
                            <h1>See our products</h1>
                        </div>
                    </div>
                    <h2 class="product-heading">Audio Technology</h2>
                </a>
            </article>
            <article class="card col-xs-12 col-sm-6">
                <a class="hover-link" href="/products/interactive">
                    <div class="zoom">
                        <img class="img-responsive" src="{% static 'img/categories/interactive.jpg' %}" alt="Interactive Technology">
                        <div class="overlay">
                            <h1>See our products</h1>
                        </div>
                    </div>
                    <h2 class="product-heading">Interactive Technology</h2>
                </a>
            </article>
            <article class="card col-xs-12 col-sm-6">
                <a class="hover-link" href="/products/control">
                    <div class="zoom">
                        <img class="img-responsive" src="{% static 'img/categories/control.jpg' %}" alt="Control Systems">
                        <div class="overlay">
                            <h1>See our products</h1>
                        </div>
                    </div>
                    <h2 class="product-heading">Control Systems</h2>
                </a>
            </article>
        </div>
    </section>
{% endblock %}