{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="card col-xs-12 col-sm-6">
            <a href="/products/visual">
                <div class="zoom">
                    <img class="img-responsive" src="{% static "img/projector.jpg" %}" alt="Projection Systems">
                    <div class="overlay"><h1>See our products</h1></div>
                </div>
                <h2>Projection Systems</h2>
            </a>
        </div>
        <div class="card col-xs-12 col-sm-6">
            <a href="/products/audio">
                <div class="zoom">
                    <img class="img-responsive" src="{% static "img/speakers.jpg" %}" alt="Audio Technology">
                    <div class="overlay"><h1>See our products</h1></div>
                </div>
                <h2>Audio Technology</h2>
            </a>
        </div>
        <div class="card col-xs-12 col-sm-6">
            <a href="/products/interactive">
                <div class="zoom">
                    <img class="img-responsive" src="{% static "img/interactive.jpg" %}" alt="Interactive Technology">
                    <div class="overlay"><h1>See our products</h1></div>
                </div>
                <h2>Interactive Technology</h2>
            </a>
        </div>
        <div class="card col-xs-12 col-sm-6">
            <a href="/products/control">
                <div class="zoom">
                    <img class="img-responsive" src="{% static "img/control.jpg" %}" alt="Control Systems">
                    <div class="overlay"><h1>See our products</h1></div>
                </div>
                <h2>Control Systems</h2>
            </a>
        </div>
    </div>
    </div>
{% endblock %}