/*Styling for the main template*/
body {
    background-color: #faf9f5;
	padding-bottom: 0px;
}
/*styles to enable sticky footer*/
.main {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.main-content {
	flex: 1;
}
/*end styles*/
.gtext {
	font-weight: bold;
	font-size: 16px;
	color: #999;
}
.footer-text {
	font-weight: bold;
	color: #fff;
}
#footer {
	height: 80px;
	width: 100%;
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color: #8750bc;
}

/*Styling for Categories page*/
.card {
	padding: 20px;
	background-color: #fff;
}
.card_image {
	width: 100%;
}
/*image hover effects*/
.zoom {
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
	overflow: hidden;
	position: relative;
}
.zoom img {
	display: block;
	position: relative;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.zoom:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.zoom .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: all .2s;
	transition: all .2s;
}
.zoom:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
}
.zoom h1 {
	top: 50%;	/*vertically centre the element by moving it down to the middle of its parent*/
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	background: rgba(0,0,0,0.6);
	-webkit-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all .2s;
	transition: all .2s;
	padding: 10px;
}
.zoom:hover h1 {
	top: 50%;	/*need to do the same for hover state*/
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);	/*then adjust the element by the full value of its height*/
}
.bottom_button {
	border-radius: 4px;
	width: 100%;
	background-color: rgba(129, 187, 201, .85);
	padding: 1em .75em;
	text-decoration: none;
	color: #fff;
}

/*Styling for each product page*/
.list_item {
	height: 350px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Cart icon in the navigation bar*/
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.label-warning[href],
.badge-warning[href] {
    background-color:  #c67605;
}

/*Styling for Cart and Checkout pages*/
.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.product-description {
    min-height: 40px;
}
caption p {
    word-wrap: break-word;
}
.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.panel-default {
    border-color: transparent;
    padding: 0 10px;
}
.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

/*Contact Form CSS*/
#form-area {
	width: 450px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}
fieldset {
	width: 450px;
	border: 1px solid #999;
	border-radius: 10px;
	clear: both;
	padding: 20px;
	margin-bottom: 50px;
	background-color:rgba(129, 187, 201, .3);
}
legend {
	width: auto; /*overwrite Bootstrap's width: 100%;*/
	font-size: 25px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 4px 15px;
}
label.field {
	display: block;
	text-align: right;
	width: 100px;
	float: left;
	clear: both;
}
input {
	display: inline-block;
	width: 270px;
	border-radius: 5px;
	padding: 6px 8px;
	margin-top: 6px;
	margin-left: 5px;
}
textarea {
	width: 270px;
	height: 100px;
	border-radius: 5px;
	padding: 6px 8px;
	margin-top: 6px;
	margin-left: 5px;
	border: 2px inset #eee;
}
/*amend the labels*/
.field {
	padding: 9px 8px;
}
label.submit {
	margin-bottom: 40px;
	/*margin-left: px;*/
}

/*Amend some Bootstrap default values*/
/*overwrite the 15px padding*/
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
/*remove rounded corners*/
.navbar {
	border-radius: 0px;
}
/*force the grid system to not have content spilling over on the right side*/
.col-sm-6, .col-md-6, .col-lg-6 {
	margin-right: -30px;
}