{% extends 'base.html' %}
{% block content %}
    <h2>About AV Empire</h2>
    <br>
    <p><strong>AV Empire</strong> is a small company established in 2018 that primarily provides access to many of the latest Audio-Visual products through its online web store at very competitive prices. Our partners are some of the world's leading suppliers in AV communication, such as Sony, 3M, Bose and AMX.</p>
    <p>The company currently operates just throughout Scotland, however we aim to expand our operations throughout all of the UK within the next year.</p>
{% endblock %}