{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AV Empire</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css"-->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
<div class="container-fluid main"><!-- Enable the navbar box to stretch to the edges; also enable sticky footer -->
    <nav class="navbar navbar-default">
        <div class="container"><!-- Force the navbar content to center as per default -->
        <div class="navbar-header">
			<a class="navbar-brand" href="/">AV Empire</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-list">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
        <ul id="collapsing-list" class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li class="dropdown"><a href="/products/categories/" class="dropdown-toggle" data-toggle="dropdown" role="button">Products<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/products/categories/">All Products</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/products/visual">Projection Systems</a></li>
                    <li><a href="/products/audio">Audio Technology</a></li>
                    <li><a href="/products/interactive">Interactive Technology</a></li>
                    <li><a href="/products/control">Control Systems</a></li>
                </ul>
            </li>
            <!-- Extra navigation options depending on whether the user is logged in or not -->
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> Log Out</a></li>
            {% else %}
                <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Register</a></li>
                <li><a href="{% url 'login' %}"><i class="fa fa-sign-in-alt"></i> Log In</a></li>
            {% endif %}
            <!-- End navigation options -->
            <li><a href="{% url 'view_cart' %}">
                <i class="fa fa-shopping-cart"></i> Cart
                {% if product_count > 0 %}
                    <label class="badge my-badge">{{ product_count }}</label>
                {% endif %}
            </a>
            </li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
        </div>
    </nav>
    <!-- Displays a 'success' message if the user's payment has been accepted or if contact form has been submitted -->
    <!-- also when a user has successfully registered, logged in or logged out -->
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

   <div class="main-content"><!-- Enable sticky footer; this section has to go just above it -->
       {% block content %}
       {% endblock %}
   </div>

   <footer id="main-footer">
       <div id="social-footer" class="text-center">
           <a href="https://www.facebook.com/Code.InstituteIRL/" target=_blank><i class="fab fa-facebook-square fa-3x social-icon"></i></a>
           <a href="https://twitter.com/CodersInstitute" target=_blank><i class="fab fa-twitter-square fa-3x social-icon"></i></a>
           <a href="https://www.instagram.com/codeinstitute/" target=_blank><i class="fab fa-instagram fa-3x social-icon"></i></a>
           <a href="https://github.com/maxmiguta" target=_blank><i class="fab fa-github-square fa-3x social-icon"></i></a>
       </div>
       <p class="footer-text text-center">Copyright &copy; AV Empire 2018</p>
       <p class="footer-text text-center">Website designed and built by Max Miguta</p>
   </footer>
</div>
</body>

<!-- Bootstrap core JS files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.4.1/js/all.js"></script>
<!-- jQuery used to prevent users submitting empty values when adding or adjusting product items (courtesy of @mormoran) -->
<script>
$(document).ready(function() {
	var formInputs = $(".form-control");
    formInputs.each(function() {
		var thisInput = $(this);
		thisInput.on('change', function() {
			var userInput = $(this).val();
			var adjustCart = $(".adjust-cart");
			if (userInput === "") {
				thisInput.parent().find("button").attr('disabled', true);
				adjustCart.attr('disabled', true);
			} else if (userInput !== "") {
				thisInput.parent().find("button").attr('disabled', false);
				adjustCart.attr('disabled', false);
            }
        });
	});
});
</script>
{% block head_js %}<!-- The JS in checkout.html will only be injected here when a user clicks on Checkout -->
{% endblock head_js %}
</html>