{% extends 'base.html' %}
{% block content %}
    <div id="form-area">
	<form onsubmit="alert('Form submitted successfully.')" method="post">
		<fieldset>
			<legend>Contact Form</legend>
			<label for="fname" class="field">First name:</label>
			<input type="text" id="fname" placeholder="Enter your first name" name="fname" autocomplete="on" required autofocus />
			<label for="lname" class="field">Last name:</label>
			<input type="text" id="lname" placeholder="Enter your last name" name="lname" autocomplete="on" required />
			<label for="email" class="field">Email:</label>
			<input type="email" id="email" placeholder="Enter your email" name="email" autocomplete="on" required />
			<label for="telephone" class="field">Telephone:</label>
			<input type="tel" id="telephone" placeholder="Enter your number" name="telephone" pattern="[0][0-9]{10}" title="Expecting 11 digit number beginning with 0" />
			<label for="comm" class="field">Comments:</label>
			<textarea id="comm" placeholder="Enter any comments" name="comm"></textarea>
			<label for="submit" class="field submit"></label>
			<input type="submit" id="submit" value="Submit"/>
		</fieldset>
	</form>
	</div>
{% endblock %}